
.text{
  padding: 15px;
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.card-text{
  text-align: justify;
  text-justify: inter-word;
}

.btn {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

