.Header {
  grid-area: MH;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  width: 98.5vw;
    
  padding: 12px 10px;
  
  background-color: #f1f1f1;
  color: #444444;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  color: #1A1A1A;
  text-decoration: none;
  padding: 20px;
}

.Header ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.Header-Left {
  padding-left: 20px;
}

.Header-Right {
  padding-right: 20px;
}

.Header-Center {
  font-size: 1.8em;
  text-align: center;
}
